* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  width: 50%;
}

@media (max-width: 991px) {
  .form-control {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .form-control {
    width: 75%;
  }
}

@media (max-width: 568px) {
  .form-control {
    width: 90%;
  }
}
