* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
* ! Style rules for Navbar component 
**/

nav a {
  text-decoration: none;
  color: white !important;
}

.navbar-toggler {
  color: white;
}
